.cabecalho{
   background-color: deeppink;
   color: fuchsia;
   text-align: center;
}

.cabecalho-titulo{
    text-transform: uppercase;
    text-decoration: underline;
}

.cabecalho-imagem{
    width: 800px;
    border: 3px plum;
    border-radius: 10px;
}

.caixa{
   display
   text-align: inline-block;
   text-aling:center;
   width: 30%;
   background-color:blue;
   color:brown;
}

   #caixa-boreal{
    
   }


   
