.cabecalho{
   background-color: thistle;
   color: fuchsia;
   text-align: center;
}

.cabecalho-titulo{
    text-transform: uppercase;
    text-decoration: underline;
}

.cabecalho-imagem{
    width: 800px;
    border: 3px plum;
    border-radius: 10px;
}
